<div class='container-fluid'>
    <header>
        <div class='row'>
            <div class='col-sm-3'>
                <img src="" />
            </div>
        </div>
    </header>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer id='footer'>
        <div class='row'>
            <div class='col-xs-12 center-block text-center'>
                <contact-details></contact-details>
            </div>
        </div>
    </footer>
</div>
