    <h1>VIN Membership List</h1>
    <div id="membertable" class="table-responsive">
        <table class="table table-striped" [mfData]="memberList" #mf="mfDataTable"
               [mfRowsOnPage]="10">
            <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="userName">User Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="dob">DOB</mfDefaultSorter>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of mf.data">
                    <td>{{ m.userName }}</td>
                    <td>{{ m.firstName }}</td>
                    <td>{{ m.lastName }}</td>
                    <td>{{ m.email }}</td>
                    <td>{{ m.phoneNumber | phoneFormat  }}</td>
                    <td>{{ m.dob | date: 'longDate' }}</td>
                    <td>
                        <button type="button" class="btn" (click)="updateMember(m,edit)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn" (click)="deleteMember(m,confirm)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                    <td colspan="1">
                        <button type="button" class="btn" (click)="addMember(edit)"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <ng-template #confirm let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-default" (click)="c('OK')">OK</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">Cancel</button>
        </div>
    </ng-template>