<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>DOB</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of membersList" (click)="onSelect(m)">
                <td>{{ m.userName }}</td>
                <td>{{ m.firstName }}</td>
                <td>{{ m.lastName }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.phone }}</td>
                <td>{{ m.dob }}</td>
                <td>
                    <button type="button" class="btn">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" (click)="removeMember(m)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>