<section class="membershipapp">
    <h1>VIN Member List</h1>
    <member-list [memberList]="members" (removeClicked)="onRemoveMember($event)" (editClicked)="onEditMember($event)"></member-list>
</section>
<!-- Confirmation Dialog-->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete - {{selectedMember.lastName}}, {{selectedMember.firstName}}?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-default" (click)="c('OK')">OK</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Cancel')">Cancel</button>
    </div>
</ng-template>