<div class="table-responsive">
    <table class="table table-striped" [mfData]="memberList" #mf="mfDataTable"
           [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th>
                    <mfDefaultSorter by="userName">User Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="dob">DOB</mfDefaultSorter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of mf.data">
                <td>{{ m.userName }}</td>
                <td>{{ m.firstName }}</td>
                <td>{{ m.lastName }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.phoneNumber | phoneFormat  }}</td>
                <td>{{ m.dob | date: 'longDate' }}</td>
                <td>
                    <button type="button" class="btn" (click)="editMember(m)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" (click)="removeMember(m)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

